
.h1 { 
    border: 5px solid black;
}

.h2 { 

    border: 1px solid black;
}

.text
{ 

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kleur

{
    color: yellow;

}

.text1

{
    font-size: 80%;
}

.text2

{
    font-size: 75%;
}